gui.pyi        export-ignore
htmlTools.pyi  export-ignore
olex.pyi       export-ignore
olexex.pyi     export-ignore
olx.pyi        export-ignore
print_orm.txt  export-ignore
todo.md        export-ignore
olexFunctions.pyi export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore